@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #fefefb;
  --error: #e7195a;
}
body {
  background: #fefefb;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fefef2;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #042f27;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.todo-details {
  background-color: #f6f8dd;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
}

.todo-details h3 {
  color: #333;
  font-size: 18px;
  margin: 0 0 5px 0;
}

.todo-details p {
  color: #666;
  font-size: 14px;
  margin: 0 0 5px 0;
}